#top-bar{
	background-color: coral;
	color:white;
	padding:0;
}

#nav-bar{
	background-color: #333;
	color:white;
	padding:0;
}

#nav-bar ul{
	padding:0;
	list-style: none;
}

#nav-bar li{
	display:inline;
}

#nav-bar a{
	font-size: 18px;
	color: white;
	text-decoration: none;

}